<div class="container-fluid">
  <div>
    <ngx-codemirror [(ngModel)]="this.content" [options]="this.config"></ngx-codemirror>

    <button (click)="this.executeAll()">Execute</button>

  </div>

  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4>Results</h4>
    </div>

    <div class="card-body">
      <table class="table  table-striped">
        <thead>
          <tr>
            <th *ngFor="let column of this.columns$ | async">
              {{column}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of this.rows$ | async">
            <td *ngFor="let column of this.columns$ | async; let i = index">
              {{row[i]}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
