<section class="dashboard-counts section-padding">
  <div *ngIf="infos$ | async" class="container-fluid">
    <div class="row">
      <div class="col-xl-2 col-md-4 col-6" *ngFor="let iter of infos">
        <div class="wrapper count-title d-flex">
          <div class="icon">
            <i class="icon-user"></i>
          </div>
          <div class="name">
            <strong class="text-uppercase">{{iter.name}}</strong>
            <div class="count-number">{{iter.value}}</div>
          </div>
        </div>
      </div>

      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6">
        <div class="wrapper count-title d-flex">
          <div class="icon">
            <i class="icon-user"></i>
          </div>
          <div class="name">
            <strong class="text-uppercase">Current connections</strong>
            <div class="count-number">{{infos.currentConnection}}</div>
          </div>
        </div>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6">
        <div class="wrapper count-title d-flex">
          <div class="icon">
            <i class="icon-padnote"></i>
          </div>
          <div class="name">
            <strong class="text-uppercase">RAM Usage</strong>
            <div class="count-number">{{infos.ramUsage}}</div>
          </div>
        </div>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6">
        <div class="wrapper count-title d-flex">
          <div class="icon">
            <i class="icon-check"></i>
          </div>
          <div class="name">
            <strong class="text-uppercase">CPU Usage</strong>
            <div class="count-number">{{infos.cpuUsage}}</div>
          </div>
        </div>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6">
        <div class="wrapper count-title d-flex">
          <div class="icon">
            <i class="icon-bill"></i>
          </div>
          <div class="name">
            <strong class="text-uppercase">Disk Usage</strong>
            <div class="count-number">{{infos.diskUsage}}</div>
          </div>
        </div>
      </div>
      <!-- Count item widget-->
      <div class="col-xl-2 col-md-4 col-6">
        <div class="wrapper count-title d-flex">
          <div class="icon">
            <i class="icon-list"></i>
          </div>
          <div class="name">
            <strong class="text-uppercase">Tables</strong>
            <div class="count-number">{{infos.tables}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dashboard-header section-padding">
  <div class="container-fluid">
    <div class="row d-flex align-items-md-stretch">
      <!-- To Do List-->
      <div class="col-lg-3 col-md-6">
        <div class="card to-do">
          <h2 class="display h4">To do List</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <ul class="check-lists list-unstyled">
            <li class="d-flex align-items-center">
              <input type="checkbox" id="list-1" name="list-1" class="form-control-custom">
              <label for="list-1">Similique sunt in culpa qui officia</label>
            </li>
            <li class="d-flex align-items-center">
              <input type="checkbox" id="list-2" name="list-2" class="form-control-custom">
              <label for="list-2">Ed ut perspiciatis unde omnis iste</label>
            </li>
            <li class="d-flex align-items-center">
              <input type="checkbox" id="list-3" name="list-3" class="form-control-custom">
              <label for="list-3">At vero eos et accusamus et iusto </label>
            </li>
            <li class="d-flex align-items-center">
              <input type="checkbox" id="list-4" name="list-4" class="form-control-custom">
              <label for="list-4">Explicabo Nemo ipsam voluptatem</label>
            </li>
            <li class="d-flex align-items-center">
              <input type="checkbox" id="list-5" name="list-5" class="form-control-custom">
              <label for="list-5">Similique sunt in culpa qui officia</label>
            </li>
            <li class="d-flex align-items-center">
              <input type="checkbox" id="list-6" name="list-6" class="form-control-custom">
              <label for="list-6">At vero eos et accusamus et iusto </label>
            </li>
            <li class="d-flex align-items-center">
              <input type="checkbox" id="list-7" name="list-7" class="form-control-custom">
              <label for="list-7">Similique sunt in culpa qui officia</label>
            </li>
            <li class="d-flex align-items-center">
              <input type="checkbox" id="list-8" name="list-8" class="form-control-custom">
              <label for="list-8">Ed ut perspiciatis unde omnis iste</label>
            </li>
          </ul>
        </div>
      </div>
      <!-- Pie Chart-->
      <div class="col-lg-3 col-md-6">
        <div class="card project-progress">
          <h2 class="display h4">Project Beta progress</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="pie-chart">
            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
              <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <canvas id="pieChart" width="217" height="217" class="chartjs-render-monitor" style="display: block; width: 217px; height: 217px;">
            </canvas>
          </div>
        </div>
      </div>
      <!-- Line Chart -->
      <div class="col-lg-6 col-md-12 flex-lg-last flex-md-first align-self-baseline">
        <div class="card sales-report">
          <h2 class="display h4">Sales marketing report</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet officiis</p>
          <div class="line-chart">
            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
              <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <canvas id="lineCahrt" width="465" height="232" class="chartjs-render-monitor" style="display: block; width: 465px; height: 232px;"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
