<h2>Add New Database Connection</h2>
<form [formGroup]="databaseConnectionForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="connectionName">Connection name</label>
    <input type="text" formControlName="connectionName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.connectionName.errors }"
    />
    <div *ngIf="submitted && f.connectionName.errors" class="invalid-feedback">
      <div *ngIf="f.connectionName.errors.required">Connection name is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="jdbcConnectionUrl">Connection url</label>
    <input type="text" formControlName="jdbcConnectionUrl" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jdbcConnectionUrl.errors }"
    />
    <div *ngIf="submitted && f.jdbcConnectionUrl.errors" class="invalid-feedback">
      <div *ngIf="f.jdbcConnectionUrl.errors.required">Connection url is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="jdbcConnectionPort">Connection port</label>
    <input type="text" formControlName="jdbcConnectionPort" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jdbcConnectionPort.errors }"
    />
    <div *ngIf="submitted && f.jdbcConnectionPort.errors" class="invalid-feedback">
      <div *ngIf="f.jdbcConnectionPort.errors.required">Connection port is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="databaseName">Database</label>
    <input type="text" formControlName="databaseName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.databaseName.errors }"
    />
    <div *ngIf="submitted && f.databaseName.errors" class="invalid-feedback">
      <div *ngIf="f.databaseName.errors.required">Database is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
    />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
    />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Register</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
  </div>
</form>